.widthImg {
  width: 100%;
}

.widthImg>img {
  width: 100%;
}

.contacts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.contacts td {
  border: solid 1px;
}