.app-wrapper {
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app_wraper_content {
  grid-area: c;
  background-color: rgba(195, 196, 181, 0.49);
  padding: 15px;
}

.p0 {
  padding: 0;
}

.pt10 {
  padding-top: 10px;
}

.m0 {
  margin: 0;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.m10 {
  margin: 10px;
}

.mt10{
  margin-top: 10px;
}

.mb10{
  margin-bottom: 10px;
}

.textDecorationNone {
  text-decoration: none;
}

.displayFlex {
  display: flex;
}

.alinItemsCenter {
  align-items: center;
}

.alinItemsEnd {
  align-items: flex-end;
}

.justifyContentBetween {
  justify-content: space-between;
}